# Terraform state and backup files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Crash logs
crash.log

# # Sensitive variable files
# *.tfvars

# Ignore plan output
terraform.tfplan

# MacOS/Linux/IDE clutter
.DS_Store
.idea/
.vscode/
*.log